@import "tailwindcss";


/* globals.css */
@layer base {
  body {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #0a0a1a; /* Blue handle on dark background */
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a1a;
  }

  ::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 20px;
  }
}